@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SchoolTestsApp.Models.DB.Entities.Teacher
@{

    ViewData["Title"] = "Профиль";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<style>
    .full-width-div {
        position: absolute;
        width: 100%;
        left: 0;
    }
</style>
<div class="container bg-white p-4 mt-3">
    <br />

    <h4 class="names">@Model.SecondName @Model.Name </h4>
    @if (Model.ThridName != null)
    {
        <h4 class="names">
            @Model.ThridName
        </h4>
    } 
    <div class="card-body">
        <style>
            a {
                text-decoration: none;
                color: white;
            }
        </style>
        <div>
            Ваши классы
            <ul class="list-group">
                @if (Model.Classes != null)
                {
                    @foreach (var cs in Model.Classes)
                    {
                        <li class="list-group-item">
                            <div class="btn btn-primary">
                                @cs.ClassCode
                                @Html.ActionLink("Посмотреть класс", "ViewClass", "Teacher", new { id = @cs.id })
                                @Html.ActionLink("Тесты", "Tests", "Teacher", new { id = @cs.id })
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div>
        </div>
    </div>

</div>