@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
@model YourNamespace.Models.ProfileViewModel

<h2>Welcome, @Model.FirstName @Model.LastName</h2>

<h3>Your information:</h3>
<p>Email: @Model.Email</p>
<p>Student ID: @Model.StudentId</p>

<h3>Passed tests:</h3>
<table>
    <tr>
        <th>Test Name</th>
        <th>Score</th>
    </tr>
    @foreach (var test in Model.PassedTests)
    {
        <tr>
            <td>@test.Name</td>
            <td>@test.Score</td>
        </tr>
    }
</table>

<h3>Available tests:</h3>
<ul>
    @foreach (var test in Model.AvailableTests)
    {
        <li>@test.Name</li>
    }
</ul>

@*
    напиши код на cshtml для View и Controller для страницы профиль. на странице должна быть информация о студенте (пользователе), панель просмотра пройденных тестов и выбор прохождения новых тестов
*@